li {
        display:inline-block;
        *display:inline; /*IE7*/
        *zoom:1; /*IE7*/
        color:white;
        margin-right:10px;
        text-align: center;
        line-height:1.5em;
        height:auto;
}
